---
layout: base
---

<div class="intro-header"></div>

<div>
<img src="https://github.com/muhnurulhakim/muhnurulhakim.github.io/blob/master/assets/img/Naikin%20Followers%20&%20Omzet%20Bisnis%20kamu%20di%20Instagram%20sekarang!%20Landscape.ai.png?raw=true" alt="Webinar Kelas Instagram" width="500" height="100%">
</div>
  
<div role="main" class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  {% if page.before-content %}
    <div class="before-content">
      {% for file in page.before-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}

  {{ content }}

  {% if page.after-content %}
    <div class="after-content">
      {% for file in page.after-content %}
        {% include {{ file }} %}
      {% endfor %}
    </div>
  {% endif %}
</div>
